* {
  box-sizing: border-box !important;
  margin: 0
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0
}

.mono {
  font-family: Monaco, monospace !important;
  font-weight: 400 !important
}

p {
  margin-bottom: 1em
}

h1 {
  font-size: 2rem
}

img {
  max-width: 100%
}

.table {
  display: table !important
}

.left {
  float: left
}

.right {
  float: right
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.border-top {
  border-top: 1px solid #000
}

@keyframes blinker {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

a.site-title {
  background: linear-gradient(to left, transparent 50%, #ffff7f 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out
}

a.site-title:hover {
  color: #181818;
  background-position: left bottom
}

body {
  display: grid;
  background-color: #fff;
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  color: #181818;
  cursor: default;
  font-size: 16px;
  -webkit-font-smoothing: antialiased
}

a.site-title {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  color: #181818;
  font-weight: 500;
  letter-spacing: -.1rem;
  font-size: 4rem;
  text-decoration: none;
  line-height: 1
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer
}

.homepage-container {
  min-height: 95vh;
  grid-area: auto/1/auto/13;
  margin: 0 auto;
  text-align: right;
  display: grid
}

.homepage-container h1 {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  letter-spacing: -.03rem;
  font-size: 3.5rem;
  font-weight: 500;
  text-align: right
}

.homepage-container h3 {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  letter-spacing: -.03rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
  white-space: nowrap
}

.homepage-container h4 {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -.017px;
  text-align: right
}

.homepage-container div.home-blurb-container {
  grid-area: auto/4/auto/10;
  margin-top: 5rem;
  display: grid;
  justify-content: space-evenly
}

.homepage-container div.home-blurb-container p {
  letter-spacing: -.011px;
  text-align: justify
}

.homepage-container div.home-blurb-container div.home-left {
  background-color: transparent;
  color: inherit;
  grid-area: auto/1/auto/7;
  margin-right: 8px
}

.homepage-container div.home-blurb-container div.home-right {
  background-color: transparent;
  color: inherit;
  grid-area: auto/8/auto/13;
  margin-left: 8px
}

.homepage-container div.home-blurb-container a {
  background-color: rgba(255, 255, 0, .5);
  padding: 3px
}

.homepage-container div.home-blurb-container a:hover {
  text-decoration: underline
}

header.home-header {
  grid-area: auto/4/auto/10;
  color: #181818;
  padding: 2rem 0
}

header.home-header div.header-left,
header.home-header div.header-right {
  margin-top: 3rem;
  width: 50%;
  display: inline-block
}

header.home-header div.header-left li,
header.home-header div.header-right li {
  width: 100%;
  border-bottom: 1px solid #000;
  list-style-type: none;
  margin: 1rem 0 1rem 0;
  text-align: right
}

header.home-header div.header-left li a:hover,
header.home-header div.header-right li a:hover {
  text-decoration: underline
}

div.bottom-container {
  grid-area: auto/4/auto/10;
  margin-top: 3rem;
  clear: both;
  justify-content: space-evenly;
  margin-bottom: 3rem
}

div.bottom-container a {
  background-color: rgba(255, 255, 0, .5);
  padding: 3px
}

div.bottom-container a:hover {
  text-decoration: underline
}

div.home-bottom {
  background-color: transparent;
  color: inherit;
  flex-grow: 1
}

footer {
  max-height: 100px;
  grid-area: auto/1/auto/13;
  display: flex;
}

footer > p:not(.mono) {
  margin-top: 8px;
  margin-left: 8px;
  flex-shrink: 0;
}

footer > p.mono {
  margin-top: 8px;
  margin-right: 8px;
  text-align: right;
  width: 100%;
  font-size: 0.9rem;
}

footer > p > a > img {
  height: 1.5rem;
  display: inline-block;
  vertical-align: top;
}

.homepage-container,
body {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-auto-rows: auto;
  column-gap: 16px
}

@media screen and (min-width:34.375rem) {

  .homepage-container,
  body {
    column-gap: 32px
  }
}

@media screen and (min-width:60rem) {

  .homepage-container,
  body {
    column-gap: 64px
  }
}

@media all and (min-width:481px) and (max-width:1024px) {
  body {
    font-size: 14px
  }

  .homepage-container h1 {
    font-size: 2rem
  }

  .homepage-container div.bottom-container,
  .homepage-container div.home-blurb-container {
    grid-area: auto/1/auto/13;
    padding: 0 2rem
  }

  header.home-header {
    grid-area: auto/1/auto/13;
    margin: 0 0 3vh 0;
    padding: 2rem
  }

  a.site-title {
    font-size: 3rem
  }
}

@media all and (min-width:1025px) and (max-width:1261px) {
  .homepage-container h1 {
    font-size: 3rem
  }

  .homepage-container header.home-header {
    grid-area: auto/1/auto/13;
    padding: 2rem
  }

  .homepage-container div.bottom-container,
  .homepage-container div.home-blurb-container {
    grid-area: auto/1/auto/13;
    padding: 0 1rem 0 1rem
  }

  a.site-title {
    font-size: 4rem
  }
}

@media all and (max-width:480px) {
  body {
    font-size: 12px
  }

  .homepage-container h1 {
    font-size: 2rem
  }

  header.home-header {
    padding: 0;
    margin: 0 0 3vh 0;
    grid-area: auto/2/auto/12
  }

  div.bottom-container,
  div.home-blurb-container {
    grid-area: auto/1/auto/13;
    padding: 0 .5rem 0 .5rem
  }

  a.site-title {
    font-size: 2.5rem;
    padding-right: 5px
  }
}